<!-- BEGIN PAGE -->
<div class="page-content">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">
            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    新功能介绍
                </h3>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>

        </div>

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN EXAMPLE TABLE PORTLET-->

                <div class="portlet box grey" style="border: 1px solid #9d9c9c">

                    <div class="explaincontent">
                        <p>&nbsp;</p>
                        <p>一、批量导入快递单操作说明</p>
                        <p>1.先到发货单管理中下载批量发货的模板。</p>
                        <p><img src="{{localImageIp}}/image/newfunction-img/img1.png" /></p>
                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <p>&nbsp;</p>
                        <p>2.根据如下模版填写需批量导入的快递单号。。</p>
                        <p style="color: red">注意：订单编号、快递单号、运费顺序不可颠倒。送货给配送站的配送单快递单号可以为空，如果没有运费可写运费为0</p>
                        <p><img src="{{localImageIp}}/image/newfunction-img/img2.png" /></p>
                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <p>&nbsp;</p>
                        <p>3.点击发货单管理，点击批量发货。</p>
                        <p><img src="{{localImageIp}}/image/newfunction-img/img3.png" /></p>
                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <p>&nbsp;</p>
                        <p>出现如下窗口，选择要发货的模版。点击打开</p>
                        <p><img src="{{localImageIp}}/image/newfunction-img/img4.png" /></p>
                        <p>&nbsp;</p>
                        <p>出现如下窗口，核对信息无误后点击 一键发货。</p>
                        <p><img src="{{localImageIp}}/image/newfunction-img/img5.png" /></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
