<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse" style="position: fixed">

    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search" style="display: none">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..."/>
                    <input type="button" class="submit" value=" "/>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="start " style="display: none;">
            <a ui-sref="home.index">
                <i class="icon-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.preStore">
                <i class="icon-home"></i>
                <span class="title">主页配置</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.delivery_charge">
                <i class="icon-home"></i>
                <span class="title">作品分类管理</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.companyGoods">
                <i class="icon-home"></i>
                <span class="title">作品管理</span>
            </a>
        </li>
        <li class="">
            <a ui-sref="home.salesPromotion({page:1})">
                <i class="icon-home"></i>
                <span class="title">玉雕文化管理</span>
            </a>
        </li>
        <!--<li class="">-->
            <!--<a ui-sref="home.wholesale({page:1})">-->
                <!--<i class="icon-home"></i>-->
                <!--<span class="title">拼团管理</span>-->
            <!--</a>-->
        <!--</li>-->
        <li class="">
            <a ui-sref="home.order({page:1})">
                <i class="icon-home"></i>
                <span class="title">证书管理</span>
            </a>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->