<!-- BEGIN PAGE -->
<div class="page-content">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    可配置项
                </h3>
            </div>

        </div>
        <div class="row-fluid">

            <div class="span12">

                <div class="portlet box grey" style="border: 1px solid #9d9c9c">

                    <div class="portlet-body form">

                        <form  class="form-horizontal form-bordered"  enctype="multipart/form-data">
                            <div class="control-group">
                                <label class="control-label">首页大图上传</label>
                                <div class="controls">
                                    <img  ngf-thumbnail="covers"  ngf-pattern=="image/*" style="height: 300px" ng-if="covers">
                                    <img src="../../media/image/image5.jpg" style="height: 300px" ng-if="!covers" alt="图片尺寸最好为750*300(宽*高)">
                                    <div style="margin-top:20px">
                                        <button type="submit" ngf-select ng-keep="true" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" class="btn blue">选择</button>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">
                                    首页图片跳转地址</label>

                                <div class="controls">
                                    <input value="{{configs.img_href}}" ng-model="configs.img_href" placeholder="请输入图片跳转地址" style="width: 100%;">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">
                                    大师简介内容</label>

                                <div class="controls">
                                    <textarea ng-model="configs.master_desc"  placeholder="大师介绍页简介" style="width: 95%;height: 300px;" ></textarea>

                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue" ng-click="save()">确认修改</button>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
